<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><b>Dropzone Sample</b></a>
  </div>
</nav>
<div class="container">
  <div class="row" style="margin-top: 50px;">
    <div class="col-lg-4 col-lg-offset-1">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Upload New</button>
    </div>
  </div>
  <div class="row" style="margin-top: 25px;">
    <div class="col-lg-10 col-lg-offset-1">
      <div class="well">
        <h4><b>Media</b></h4><hr>
        <div class="row">
          <div class="col-lg-10">
            <%= form_tag '/delete_media', method: :delete do %>
              <%= submit_tag 'Delete', id: 'delete', class: 'btn btn-danger', disabled: @media_contents.empty? %>
              <br><br>
              <div class="row">
                <div id="media-contents" class="col-lg-12">
                  <% if @media_contents.empty? %>
                    <h5 id="no-media">No Media Found</h5>
                  <% else %>
                    <% @media_contents.each do |media| %>
                      <div class="col-lg-4">
                        <div class="thumbnail">
                          <%= image_tag media.file_name.url %>
                          <div class="caption">
                            <p>
                              <%= check_box_tag 'media_contents[]', media.id %>
                            </p>
                          </div>
                        </div>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
          <div class="col-lg-1">
            <%= link_to 'Delete All', delete_all_path, method: :delete, id: 'delete-all', class: 'btn btn-danger', disabled: @media_contents.empty? %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Upload New</h4>
      </div>
      <div class="modal-body">
        <%= form_tag '/media_contents', method: :post, class: 'dropzone form', id: 'media-dropzone' do %>
          <div class="fallback">
            <%= file_field_tag 'media', multiple: true %>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
